$soft-red: #fe7867;
$yellow: #fad400;
$darker-yellow: #c2a91a;
$nav-bg: #3ebfff;
$dark-desaturated-cyan: #25564b; //(graphic design text)
$dark-blue: #19536b; //(photography text)
$footer-bg: #90d4c6; //(footer)

$dark-moderate-cyan: #458c7e; //(footer)

// ### Neutral

$very-dark-desaturated-blue: #24303e;
$very-dark-grayish-blue: #5b636d;
$dark-grayish-blue: #808397;
$grayish-blue: #a7abae;
$white: #fff;
$off-white: #fffcf8;
