$soft-red: #fe7867;
$yellow: #fad400;
$nav-bg: #3ebfff;
$dark-desaturated-cyan: #25564b; //(graphic design text)
$dark-blue: #19536b; //(photography text)
$dark-moderate-cyan: #458c7e; //(footer)

// ### Neutral

$very-dark-desaturated-blue: #24303e;
$very-dark-grayish-blue: #5a636c;
$dark-grayish-blue: #808397;
$grayish-blue: #a7abae;
$white: #ffffff;
