@use './colors' as *;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	min-height: 100vh;
	font-family: 'Barlow', sans-serif;
	font-size: 1.6rem;
}

.wrapper {
	position: relative;
	margin: 0 auto;
	max-width: 1440px;
	width: 100%;
}

.fixed-nav {
	position: fixed;
	background-color: rgba(255, 255, 255, 0.7);
}

.nav {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0.6em 0 0.5em 1.5em;
	width: 100%;
	z-index: 1000;
	background-color: transparent;

	&__items {
		position: fixed;
		top: 17%;
		right: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 1.5em;
		height: 30rem;
		width: 100%;
		max-width: 17rem;
		background-color: $white;
		transform: translate(120%, -120%);
		transition: transform 0.5s;

		&--active {
			transform: translate(0, 0);
		}

		&::before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			transform: translateY(-100%);

			border-top: 25px solid transparent;
			border-right: 25px solid $white;
		}
	}

	&__item {
		margin: 0.2em;
		padding: 0.5em 1em;
		font-size: 1.6rem;
		text-decoration: none;
		border: 2px solid transparent;
		font-weight: 600;
		color: $dark-grayish-blue;
		transition: color 0.3s;

		&:hover {
			color: $very-dark-desaturated-blue;
		}

		&:focus {
			outline: none;
			border: 2px dashed #4169e1;
		}

		&:last-child {
			margin-top: 1em;
			padding: 1.1em 2em;
			font-family: 'Fraunces', serif;
			color: $very-dark-desaturated-blue;
			font-size: 1.2rem;
			text-transform: uppercase;
			background-color: $yellow;
			border-radius: 2em;
			transition: background-color 0.3s;

			&:hover {
				background-color: $soft-red;
			}
		}
	}

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__btn {
		padding: 1.5em;
		cursor: pointer;
		transition: opacity 0.3s;

		&:hover {
			opacity: 0.5;
		}
	}
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 1.5em;
	background-image: url('../img/mobile/image-header.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 53.8rem;
	text-align: center;

	&__heading {
		margin-bottom: 1.3em;
		font-family: 'Fraunces', serif;
		font-weight: 900;
		font-size: 3rem;
		text-transform: uppercase;
		letter-spacing: 3px;
		color: $white;
	}

	&__arrow {
		min-height: 11.4rem;
	}
}

.offers {
	.wrapper {
		max-width: 1440px;
	}
	&__box {
		display: flex;
		flex-direction: column;

		&-img {
			min-height: 31rem;
			background-position: center;
			background-size: cover;

			&--transform {
				background-image: url('../img/mobile/image-transform.jpg');
			}

			&--stand {
				background-image: url('../img/mobile/image-stand-out.jpg');
			}
		}

		&-info {
			padding: 4em 1.5em;
			text-align: center;
		}

		&-title {
			font-family: 'Fraunces', serif;
			font-size: 3.2rem;
			font-weight: 900;
			color: $very-dark-desaturated-blue;
		}

		&-text {
			padding: 1.3em 0 1.8em;
			font-size: 1.8rem;
			line-height: 3rem;
			color: $dark-grayish-blue;
		}

		&-btn {
			position: relative;
			font-family: 'Fraunces', serif;
			text-transform: uppercase;
			font-weight: 900;
			letter-spacing: 1px;
			font-size: 1.5rem;
			color: $very-dark-desaturated-blue;
			background-color: transparent;
			border: 2px solid transparent;
			cursor: pointer;
			z-index: 1;

			&::after {
				content: '';
				position: absolute;
				bottom: -0.3rem;
				top: 60%;
				left: -1rem;
				right: -1rem;
				border-radius: 1em;
				z-index: -1;
				transition: top 0.3s;
			}

			&:hover::after {
				top: 0;
			}

			&--transform::after {
				background-color: $yellow;
				opacity: 0.2;
			}

			&--stand::after {
				background-color: $soft-red;
				opacity: 0.2;
			}
		}

		&--photography,
		&--graphic {
			justify-content: flex-end;
			align-items: center;
			min-height: 60rem;
			background-size: cover;
			background-position: center;

			.offers__box-info {
				margin: 3em 0;
				padding: 0 0.5em;
				width: 100%;
				max-width: 34rem;
				text-align: center;
			}

			.offers__box-title {
				font-size: 2.8rem;
			}

			.offers__box-text {
				padding: 0;
				margin-top: 1.7em;
				font-size: 1.6rem;
				letter-spacing: -0.1px;
				line-height: 2.7rem;
			}
		}

		&--photography {
			background-image: url('../img/mobile/image-photography.jpg');

			.offers__box-text,
			.offers__box-title {
				color: $dark-blue;
			}
		}
		&--graphic {
			background-image: url('../img/mobile/image-graphic-design.jpg');

			.offers__box-text,
			.offers__box-title {
				color: $dark-desaturated-cyan;
			}
		}
	}
}

.clients {
	padding: 4em 1.5em;
	&__title {
		margin-bottom: 4em;
		font-family: 'Fraunces', serif;
		font-size: 1.6rem;
		color: $grayish-blue;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 4px;
	}

	&__boxes {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 4em;
	}

	&__box {
		max-width: 450px;
		text-align: center;

		&:last-child {
			margin-bottom: 1.5em;
		}

		&-img {
			height: 7.2rem;
			border-radius: 50%;
		}

		&-text {
			margin: 1.8em 0;
			font-size: 1.8rem;
			line-height: 3.2rem;
			color: $very-dark-grayish-blue;
		}

		&-name {
			margin-bottom: 0.5em;
			font-family: 'Fraunces', serif;
			font-size: 1.8rem;
			font-weight: 900;
			color: $very-dark-desaturated-blue;
		}

		&-position {
			font-size: 1.4rem;
			color: $grayish-blue;
		}
	}
}

.gallery {
	display: flex;
	flex-wrap: wrap;

	&__img {
		width: 50%;
	}
}

.footer {
	padding: 4em 0 5em;
	text-align: center;
	background-color: $footer-bg;
	overflow: hidden;

	&__logo {
		min-width: 170px;
		margin-bottom: 2.5em;
	}

	&__links {
		display: flex;
		justify-content: center;
	}

	&__link {
		margin: 0em 1.6em;
		padding: 0 0 0.2em;
		font-size: 1.8rem;
		color: $dark-moderate-cyan;
		text-decoration: none;
		border-bottom: 2px dashed transparent;
		transition: color 0.3s, border 0.3s;

		&:hover {
			color: $white;
			border-bottom: 2px dashed $white;
		}

		&:focus {
			outline: none;
			border-bottom: 2px dashed $white;
			color: $white;
		}
	}

	&__socials {
		margin-top: 5.5em;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1.6em;
		color: $dark-moderate-cyan;

		svg {
			cursor: pointer;
			&:hover {
				color: $white;
			}

			&:focus {
				outline: none;
				color: $white;
			}
		}
	}
}

@media (min-width: 375px) {
	.nav {
		&__items {
			max-width: 32.5rem;
		}

		&__item {
			font-size: 2rem;

			&:last-child {
				font-size: 1.5rem;
			}
		}

		.wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__btn {
			padding: 1.5em;
			cursor: pointer;
			transition: opacity 0.3s;

			&:hover {
				opacity: 0.5;
			}
		}
	}

	.header {
		&__heading {
			font-size: 4rem;
			letter-spacing: 6px;
		}
	}
}
@media (min-width: 576px) {
	.header {
		background-position: 50% 70%;
	}

	.offers {
		&__box {
			&-img {
				min-height: 40rem;
			}

			&-info {
				padding: 5em 2em;
			}
		}
	}
}

@media (min-width: 768px) {
	.nav {
		padding: 2.1em 2.5em;

		&__btn {
			display: none;
		}

		&__items {
			position: static;
			flex-direction: row;
			justify-content: flex-end;
			margin: 0;
			height: auto;
			width: 100%;
			max-width: max-content;
			background-color: transparent;
			transform: translate(0, 0);
			transition: none;

			&::before {
				content: '';
				position: static;
				transform: translateY(0);
				border: none;
			}
		}

		&__item {
			margin: 0;
			padding: 0.5em 1.5em;
			font-size: 1.5rem;
			font-weight: 600;
			color: $white;

			&:hover {
				color: $very-dark-grayish-blue;
			}

			&:last-child {
				margin-top: 0;
				margin-left: 1em;
				padding: 1.1em 2em;
				color: $very-dark-desaturated-blue;
				font-size: 1.2rem;
				background-color: $white;
				transition: color 0.3s, background-color 0.3s;

				&:hover {
					color: $white;
					background-color: rgba(255, 255, 255, 0.3);
				}
			}
		}
	}

	.header {
		padding: 1.5em 2.5em;
		min-height: 60rem;
		background-image: url('../img/desktop/image-header.jpg');
		background-position: center;

		&__heading {
			font-size: 5.6rem;
		}
	}

	.offers {
		&__box {
			flex-direction: row;
			align-items: center;

			&--transform {
				.offers__box-img {
					order: 1;
				}
			}

			&-img {
				min-height: 40rem;
				width: 50%;

				&--transform {
					background-image: url('../img/desktop/image-transform.jpg');
				}

				&--stand {
					background-image: url('../img/desktop/image-stand-out.jpg');
				}
			}

			&-info {
				width: 50%;
				padding: 0 2em;
				text-align: left;
			}

			&--photography,
			&--graphic {
				align-items: flex-end;
				justify-content: center;
				min-height: 50rem;
				width: 50%;
			}

			&--photography {
				background-image: url('../img/desktop/image-photography.jpg');
			}
			&--graphic {
				background-image: url('../img/desktop/image-graphic-design.jpg');
			}
		}

		&__special {
			display: flex;
		}
	}

	.gallery {
		&__img {
			width: 25%;

			&--milk {
				content: url('../img/desktop/image-gallery-milkbottles.jpg');
			}

			&--orange {
				content: url('../img/desktop/image-gallery-orange.jpg');
			}

			&--cone {
				content: url('../img/desktop/image-gallery-cone.jpg');
			}

			&--sugar {
				content: url('../img/desktop/image-gallery-sugarcubes.jpg');
			}
		}
	}
}

@media (min-width: 992px) {
	.nav {
		&__logo {
			min-width: 17rem;
		}

		&__item {
			font-size: 1.8rem;

			&:last-child {
				font-size: 1.5rem;
			}
		}
	}

	.header {
		min-height: 70rem;

		&__heading {
			margin-bottom: 1.7em;
		}

		&__arrow {
			margin-bottom: 7em;
		}
	}

	.offers {
		&__box {
			&-info {
				padding: 2.5em;
			}

			&-img {
				min-height: 50rem;
			}

			&-title {
				font-size: 4rem;
			}

			&--photography,
			&--graphic {
				min-height: 60rem;
				align-items: flex-end;
				background-position: 50%;
			}
		}
	}

	.clients {
		padding: 8em 2.5em;

		&__title {
			font-size: 2rem;
		}

		&__boxes {
			flex-direction: row;
			align-items: flex-start;
			justify-content: center;
			gap: 1.9em;
		}

		&__box {
			max-width: 350px;

			&:last-child {
				margin: 0;
			}
		}
	}

	.footer {
		padding: 4.5em;
	}
}

@media (min-width: 1440px) {
	.header {
		height: 100vh;
		max-height: 80rem;
	}

	.offers {
		&__box {
			&--transform {
				.offers__box-img {
					order: 1;
				}

				.offers__box-info {
					padding: 0 11rem 0 16rem;
				}
			}

			&--stand {
				.offers__box-info {
					padding: 0 16rem 0 11rem;
				}
			}

			&-img {
				min-height: 60rem;
			}

			&--photography,
			&--graphic {
				.offers__box-info {
					padding: 0;
				}
			}
		}
	}

	.clients {
		padding: 10em 2.5em;

		&__box {
			&-text {
				margin: 3.2em 0 3.8em;
			}
		}
	}
}

@media (min-width: 1440px) {
}
